<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="animeaddicts.hu bejelentkezés">
        <setting id="seed" type="bool" label="Letöltés után visszaosztás" default="true"/>
        <setting id="tmpdir" type="folder" option="writeable" label="Ideiglenes fájlok helye" default=""/>
        <setting id="tmptorrentdir" type="folder" option="writeable" label="Letöltött filmek helye" default=""/>
    </category>
</settings>