<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Ricz/Ronin Factories bejelentkezés">
        <setting id="felhasznalonev" type="text" label="Felhasználónév" default=""/>
        <setting id="jelszo" type="text" option="hidden" label="Jelszó" default=""/>
        <setting id="tmpdir" type="folder" option="writeable" label="Ideiglenes fájlok helye" default=""/>
        </category>
</settings>